<div layout="column" class="mb-calc__container">
    <div layout="row">
        <md-tabs flex class="" md-selected="$ctrl.selectedTab">
            <md-tab ng-repeat="tab in $ctrl.tabs" md-on-select="$ctrl.selectTab(tab)">
                <span ng-class="{'mb-calc__tab--fb': tab.isFreebet}" ng-mousedown="$ctrl.removeTab(tab, $event)">{{tab.stake}}<span class="mb-calc__tab-sep">@</span>{{tab.backOdds}}</span>
            </md-tab>
            <md-tab ng-click="$ctrl.addTab()">
                <md-icon md-svg-icon="add"></md-icon>
            </md-tab>
        </md-tabs>
    </div>
    <div layout="row">
        <div class="mb-calc__back-odds-container">
            <md-input-container class="mb-calc__back-odds">
                <label>Back odds</label>
                <input type="number" min="1" ng-model="$ctrl.backOdds" step="0.01" ng-change="$ctrl.recalculate()">
            </md-input-container>
        </div>
        <div class="mb-calc__lay-odds-container">
            <md-input-container>
                <label>Lay odds</label>
                <input type="number" min="1" ng-model="$ctrl.layOdds" step="0.01" ng-change="$ctrl.recalculate()">
            </md-input-container>
        </div>
        <div class="mb-calc__commission-container" flex layout="row" layout-align="start center">
            <md-input-container class="mb-calc__commission">
                <label>Comm</label>
                <input type="number" min="0" ng-model="$ctrl.commission" ng-change="$ctrl.recalculate()">
            </md-input-container>
            <md-button ng-repeat="commission in $ctrl.commissions"
                class="md-icon-button md-raised"
                ng-class="{'md-primary': $ctrl.commission===commission}"
                ng-click="$ctrl.updateCommission(commission)"
            >
                {{commission}}%
            </md-button>
        </div>
    </div>
    <div class="mb-calc__stake-container" layout="row" layout-align="space-between center">
        <md-input-container class="mb-calc__stake">
            <label>Stake</label>
            <input type="number" min="0" ng-model="$ctrl.stake" ng-change="$ctrl.recalculate()">
        </md-input-container>
        <md-button ng-repeat="stake in $ctrl.stakes"
            class="md-icon-button md-raised"
            ng-class="{'md-primary': $ctrl.stake===stake}"
            ng-click="$ctrl.updateStake(stake)"
        >
            {{stake}}
        </md-button>
    </div>
    <div layout="row" layout-align="space-between center">
        <md-button flex="50%" class="md-raised" ng-class="{'md-primary': $ctrl.isQualifier()}" ng-click="$ctrl.setMode('qualifier')">Qualifier</md-button>
        <md-button flex class="md-raised" ng-class="{'md-warn': $ctrl.isFreebet()}" ng-click="$ctrl.setMode('freebet')">Free SNR</md-button>
        <md-button flex class="md-raised" ng-class="{'md-warn md-hue-1': $ctrl.isEarlyPayout()}" ng-click="$ctrl.setMode('earlyPayout')">2 Up</md-button>
    </div>
    <div flex class="mb-calc__table-container" layout="row" ng-if="!$ctrl.isEarlyPayout()">
        <div flex>
            <table class="mb-calc__table" flex>
                <thead>
                    <th class="mb-calc__col1">Lay odds</th>
                    <th class="mb-calc__col2">Profit/loss</th>
                    <th class="mb-calc__col2-1">%</th>
                    <th class="mb-calc__col3">Lay stake</th>
                    <th class="mb-calc__col4">Liability</th>
                </thead>
                <tbody>
                    <tr ng-repeat="result in $ctrl.results"
                        ng-class="{'mb-calc__row--selected': result.isCurrent, 'mb-calc__row--profit': result.isProfit, 'mb-calc__row--loss': !result.isProfit}"
                        ng-click="$ctrl.select(result)"
                    >
                        <td class="mb-calc__col1">{{result.layOdds}}</td>
                        <td class="mb-calc__col2">{{result.profit}}{{result.profitDetails}}</td>
                        <td class="mb-calc__col2-1">{{result.profitPc}}</td>
                        <td class="mb-calc__col3" ng-class="{'mb-calc__col3--selected': result.isCurrent}">{{result.layStake}}</td>
                        <td class="mb-calc__col4">{{result.liability}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="mb-calc__footer" layout="row" layout-align="space-between center">
                <span class="mb-calc__copy-stake-label">Lay stake for copy:</span><input class="mb-calc__copy-stake" type="text" ng-value="$ctrl.layStake" />
            </div>
        </div>
    </div>
    <div flex class="mb-calc__table-container" ng-if="$ctrl.isEarlyPayout()">
        <div class="mb-calc__early-payout-inputs" layout="row" layout-align="start center">
            <div class="mb-calc__back-odds-container">
                <md-input-container class="mb-calc__back-odds">
                    <label>Back odds</label>
                    <input type="number" min="1" ng-model="$ctrl.inplayBackOdds" step="0.01" ng-change="$ctrl.recalculate()">
                </md-input-container>
            </div>
            <div class="mb-calc__early-payout-lockin-container">
                <md-input-container class="mb-calc__early-payout-lock">
                    <label>Lockin %</label>
                    <input type="number" min="0" max="100" ng-model="$ctrl.earlyPayoutLockin" step="1" ng-change="$ctrl.recalculate()">
                </md-input-container>
            </div>
            <md-button ng-repeat="lockin in $ctrl.lockins"
                class="md-icon-button md-raised mb-calc__lockin-button"
                ng-class="{'md-primary': $ctrl.earlyPayoutLockin===lockin.value}"
                ng-click="$ctrl.updateLockin(lockin)"
            >
                {{lockin.text}}
            </md-button>
        </div>
        <div flex>
            <table class="mb-calc__table" flex>
                <thead>
                    <th class="mb-calc__col1">Back odds</th>
                    <th class="mb-calc__col2">If wins / If loses</th>
                    <th class="mb-calc__col3">Back stake</th>
                </thead>
                <tbody>
                    <tr ng-repeat="result in $ctrl.results"
                        ng-class="{'mb-calc__row--selected': result.isCurrent, 'mb-calc__row--profit': result.isProfit, 'mb-calc__row--loss': !result.isProfit}"
                        ng-click="$ctrl.selectEarlyPayout(result)"
                    >
                        <td class="mb-calc__col1">{{result.inplayBackOdds}}</td>
                        <td class="mb-calc__col2">{{result.totalIfWins}} / {{result.totalIfLoses}}</td>
                        <td class="mb-calc__col3" ng-class="{'mb-calc__col3--selected': result.isCurrent}">{{result.inplayBackStake}}</td>
                    </tr>
                </tbody>
            </table>
            <h5 class="mb-calc__h5">Partial cashouts</h5>
            <div layout="row" layout-align="space-between center">
                <div flex class="mb-calc__part-back" ng-repeat="partBack in $ctrl.earlyPayoutPartBacks">
                    <input class="mb-calc__part-back-input" type="number" ng-model="partBack.stake" ng-change="$ctrl.recalculate()"/>
                    <span class="mb-calc__part-back-at">@</span>
                    <input class="mb-calc__part-back-input" type="number" ng-model="partBack.odds" ng-change="$ctrl.recalculate()"/>
                    <span class="mb-calc__part-back-x" ng-click="$ctrl.clearPartBack(partBack)">✕</span>
                </div>
            </div>
            <div class="mb-calc__footer" layout="row" layout-align="space-between center">
                <span class="mb-calc__copy-stake-label">Back stake for copy:</span><input class="mb-calc__copy-stake" type="text" ng-value="$ctrl.inplayBackStake" />
            </div>
        </div>
    </div>
    <div class="mb-calc__copy">
        <md-button class="md-fab md-primary" ng-click="$ctrl.copyDetails()" aria-label="Copy details">
            <md-icon md-svg-icon="copy"></md-icon>
            <md-tooltip md-direction="top">Copy odds and stake for report</md-tooltip>
        </md-button>
    </div>
</div>
